div {
    border: 1px solid black;
    padding: 10px;
}

h1 {
    font-family: Fondamento;
    font-size: 3em;
}

h2 {
    font-family: Fondamento;
    font-size: 1.8em;
}

p {
    font-family: Raleway;
}

a {
    color: black;
    text-decoration: none;
}