div {
    border: 1px solid white;
    padding: 10px;
}

h1 {
    font-family: Fondamento;
    font-size: 3em;
}

h2 {
    font-family: Fondamento;
    font-size: 1.8em;
}

p {
    font-family: Raleway;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
}

